# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.lst
*.dbgconf
MDK-ARM/pellet_dispenser_CM7_320x240_CM4
MDK-ARM/pellet_dispenser_CM7_320x240_CM7
TouchGFX/build/

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Other directories
MDK-ARM/RTE
Drivers/CMSIS
**/simulator/
**/cache/
.vscode

# Other Files
*.htm
*.cache
*.rb
*.md
*.temp
*.uvguix*
*.uvoptx
*.config
*.scvd